<h1><%= @pair.topic %></h1>
<h2>Requested by: <%= @pair.requestor_user.email %></h2>

<% if @pair.accepted? %>
  <h3>Accepted by: <%= @pair.respondor_user.email %></h3>
<% else %>
  <%= form_for(@pair) do |f| %>
    <% if @pair.errors[:respondor_user].any? %>
    <p>You can't pair with yourself...<a href="https://en.wikipedia.org/wiki/Rubber_duck_debugging">or can you...</a></p>
    <% end %>
    <%= f.submit "Accept this Pair" %>
  <% end %>
<% end %>