<!DOCTYPE html>
<html>
  <head>
    <title>FindAPair</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav>
      <section>
        <%= link_to_unless_current "Open Pairs", pairs_path %>
      </section> 

      <section class="utility">
        <% if session[:current_user_id] %>
        You are logged in as: <%= @current_user.email %> | <a href="/logout">Logout</a>
        <% else %>
        <%= link_to_unless_current "Login", login_path %> | 
        <%= link_to_unless_current "Register", register_path %> 
        <% end %>
      </section>
    </nav>
    
    <%= yield %>
  </body>
</html>
